{% assign figures = include.figures %}
{% assign number = include.number %}

<div class="carousel__holder">
    <div id="carousel{{ number }}" class="carousel">
        <div class="carousel__track">
          <ul class="carousel__content">
            {% for item in figures %}
            <li class="carousel__slide" id="carousel__slide-{{ number }}" style="background-image: url('{{ item.image_path }}');"></li>
            {% endfor %}
          </ul>
        </div>
    </div>
</div>

<style>
.carousel__holder{
  padding: 5px;
}

.carousel__content {
  width: 70vw;
  height: 300px;
  padding: 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  columns: 1;
  text-align: center;
}

.carousel__slide {
  list-style-type: none;

  display: inline-block;
  height: 100%;
  width: 200px;

  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;
  margin: 0 10px;

  text-align: left;
}

.carousel__content::column {
  scroll-snap-align: center;
}


.carousel__content::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;

  position: absolute;
}

.carousel__content::scroll-button(*):hover,
.carousel__content::scroll-button(*):focus {
  opacity: 1;
}

.carousel__content::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel__content::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carousel__content::scroll-button(left) {
  content: "◄";
}

.carousel__content::scroll-button(right) {
  content: "►";
}

.carousel__content {
  /* anchor-name: --my-carousel; */
  anchor-name: --my-carousel;
}

.carousel__content::scroll-button(left) {
  position: absolute;
  position-anchor: --my-carousel;
  left: anchor(left);
}

.carousel__content::scroll-button(right) {
  position: absolute;
  position-anchor: --my-carousel;
  right: anchor(right);
}

.carousel__content::-webkit-scrollbar-button {
  display: none;
  width: 0px;
  height: 0px;
}

.carousel__content {
  scroll-marker-group: after;
}

.carousel__content::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 20px;
}

.carousel__content::column::scroll-marker {
  content: "";
  height: 1em;
  width: 1em;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}
.carousel__content::column::scroll-marker:target-before {
  border: 2px solid gray;
}

.carousel__content::column::scroll-marker:target-current {
  background-color: black;
  transition: all 0.7s;
}

.carousel__content::column::scroll-marker:target-after {
  border: 2px solid cornflowerblue;
  background-color: cornflowerblue;
}

.carousel__slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

</style>
